/*

Theme Name: Bento Child

Template:  bento

*/

/* BackToTop button css */
.back-to-top {
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
}
.back-to-top i {
  font-size: 45px;
  color: #FEE96E;
}

.back-to-top i:hover{
  color: #FDBB37;
}

/* Image slider arrows */
.sow-sld-icon-ultra-thin-left { display:none !important}
.sow-sld-icon-ultra-thin-right { display:none !important}

/* Blog arrows */
.sow-carousel-next { display:none !important}
.sow-carousel-previous { display:none !important}

/* Flag icons padding*/
.languages { padding: 10px}

/* Sticky footer */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -81px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 81px; /* .push must be the same height as .footer */
}

/* Arrow down */
.arrow-down i {
  font-size: 30px;
  color: #ffffff;
}
.arrow-down {text-align: center;}
