.so-widget-sow-headline-default-502520545d6c #sow-headline-container.sow-headline h1 {
  text-align: center;
  color: #404040;
  line-height: 1.4;
}
.so-widget-sow-headline-default-502520545d6c #sow-headline-container.sow-headline p {
  text-align: center;
  color: #404040;
  line-height: 1.4;
}
.so-widget-sow-headline-default-502520545d6c #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}