.so-widget-sow-headline-default-0d9d75b552c4 #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-default-0d9d75b552c4 #sow-headline-container.sow-headline h6 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-default-0d9d75b552c4 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}